<h1>Welcome to the restful Dog!</h1>
<a href="/dogs">Check out all dogs!</a>
<br>
<img src="https://cdn-images-1.medium.com/max/1000/1*slrwqTXKO6evtPn5YVWR2Q.png" alt="restful routes">

<img src="http://footage.framepool.com/shotimg/qf/726705090-golden-retriever-dog-puppy-terrace-architecture-innocence.jpg" alt="restful dog">