<h1>hello dog!</h1>
<table style="width:20%">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @dogs.each do |dog| %>
  <tr>
    <td>
      <a href="/dogs/<%= dog.id %>"><%= dog.name %></a>
    </td>
    <td>
      <form action="/dogs/<%= dog.id %>/delete" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
<% end %>
</table>


<a href="/dogs/new">create dog!</a>
<br>
<a href="/">check out restful routes!</a>